flask==3.1.0
flask-sqlalchemy==3.1.1
flask-bcrypt==1.0.1
flask-socketio==5.6.1
flask-migrate==4.1.0
flask-cors==6.0.2
python-dotenv==1.0.1
psycopg2-binary==2.9.11
cryptography==46.0.4
pydantic-settings==2.13.1
pydantic==2.12.5
flasgger==0.9.7.1
gevent==25.4.1
gevent-websocket==0.10.1
psycogreen==1.0.2
gunicorn==25.3.0
flask-mail==0.10.0
psutil==7.1.0
flask-jwt-extended==4.7.1
email-validator==2.2.0
requests==2.33.1
supabase==2.28.3
filetype==1.2.0